.text-input {
  display: inline-flex;
  width: 100%;
  background-color: #333333;
}

input {
  text-align: right;
  float: right;
  color: white;
}

ion-list {
  padding: 0;
  margin:0;
}

.col {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}

.row {
  height: 100%;
  margin-top: 0;
  padding: 0;
}

.row + .row {
  margin-top: 0;
}

button {
  height: 100%;
}

.operator {
  background-color: orange;
}

.mem {
  background-color: gray;
}

div {
  padding: 0;
}

.list {
  padding-top: 0;
}

.button.button-block, .button.button-full {
  margin-top: 0;
  margin-bottom: 0;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
 color: white;
}

